@page "/example"
@using AccreditValidation.Components.Services.Interface
@using AccreditValidation.Shared.Services.Notification
@using AccreditValidation.Components.Base.Notification
@using System.Collections.ObjectModel
@inject INotificationService NotificationService

<div class="page">
    <div class="header">
        <h1>Notification Example</h1>
    </div>
    <div class="content">
        <button @onclick="SendInfoNotification">Send Info</button>
        <button @onclick="SendSuccessNotification">Send Success</button>
        <button @onclick="SendWarningNotification">Send Warning</button>
        <button @onclick="SendErrorNotification">Send Error</button>
    </div>
</div>

